<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head') %>
  <title>Story Creator - Home</title>
  <link rel="stylesheet" href="/styles/stories.css" type="text/css" />
  <%- include('_header') %>
</head>

<body>
  <div class="main-page">
    <section class="main-story">
      <div class="story-container first-story-container">
        <div class="thumbnail-container">
          <div class="image"style="background-image:url('<%= firstStory[0].photo_url %>');"> </div>
        </div>
        <div class="text-container">
          <a href="/story/<%= firstStory[0].url_id %>">
            <h1><%= firstStory[0].title %></h1>
            <h3><%= (firstStory[0].content).slice(0, 100) %>...</h3>
          </a>
            <h4>By <%= firstStory[0].created_by %></h4>
            <h4><%= firstStory[0].total_contributions %> contributions</h4>
          <div class="status-container">
            <h5><%= firstStory[0].created_at %></h5>
            <h5>&centerdot;</h5>
            <h5><%= firstStory[0].status %></h5>
          </div>
        </div>
      </div>
    </section>

    <span class="line"></span>

    <section id="main-references">
      <div class="reference-title">
        <div class="gradient-border" id="box">Want <br>To learn<br>how to write stories? <a href="https://soyouwanttowrite.org/blogs/syww/the-top-10-tips-for-writing-great-short-stories" class="anchor">Click HERE</a></div><br>
        <iframe width="430" height="255" src="https://www.youtube.com/embed/qg0_FinB6EE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </section>
  </div>
  <section class="stories">
    <div id="title">
      Latest
    </div>
    <% for (let story of stories) { %>
      <div class="story-container">
        <div class="text-container">
          <a href="/story/<%= story.url_id %>">
            <h1><%= story.title %></h1>
            <h3><%= (story.content).slice(0, 100) %>...</h3>
          </a>
            <h4>By <%= story.created_by %></h4>
            <h4><%= story.total_contributions %> contributions</h4>
            <div class="status-container">
              <h5><%= story.created_at %></h5>
              <h5>&centerdot;</h5>
              <h5><%= story.status %></h5>
            </div>
        </div>
        <div class="thumbnail-container">
          <div class="image"style="background-image:url('<%= story.photo_url %>');"> </div>
        </div>
      </div>
    <% } %>
  </section>
</body>

<script src=""></script>

</html>
